<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  
  ServerHost: den1.mssql8.gear.host
  Login: barbeirosdb
  Senha: Hn4484uhB7-!
  
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConectaBanco" connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=barbeirosdb;User ID=barbeirosdb;Password=Hn4484uhB7-!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>

</configuration>