
@{
    ViewBag.Title = "EmailAlteracaoSenhaEnviado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Email Enviado com sucesso</h2>

<p>Verifique sua caixa de entrada para as instruções de alteração de senha</p>

